<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <link rel="stylesheet" href="/css/home.css">
  <title>Home page</title>

</head>

<body>
  <div class="logout-menu">
    <a href="/logout" class="logout">Logout<ion-icon name="log-out-outline"  class="logout-icon" ></ion-icon></a>
  </div>
  <div class="paragraph">
      <p>Type your secrect here</p>
  </div>

  <div class="container">
    <div class="input-container">
      <% if(showUpdate){ %>
        <form action="/updateData/<%= editId %>" onsubmit="inputdata(event)" method="post" class="UpdateInputContainer">
          <input type="text" name="updateDatatext" id="textInput" value="<%= data.find(d => d._id == editId)?.textinputData %>" placeholder="Enter your update secret here">
          <button><ion-icon name="arrow-up-outline"></ion-icon></button>
        </form>
          
      <%}else{ %>
      <form action="/textData" name="formTextInputData" onsubmit="inputdata(event)" method="POST" id="inputfield" class="inputfield">
        <input type="text" id="textInput" name="text" placeholder="Enter your secrect Here">
        <button><ion-icon name="arrow-up-outline"></ion-icon></button>
      </form>
      <% } %>
    </div>

    <div class="secrect-container">
        <a href="#" id="lockButton"><ion-icon name="lock-closed-outline" id="lockIcon"></ion-icon></a>
    </div>

  </div>

  <div class="SecondContainer">
    <div class="textbox">
      <h2>Your Secrets</h2>
    </div>
    <div class="Innerbox">
        <div class="InnerSecretsData">
          
            <% for(var i = 0; i < data.length; i++){ %>
            <div class="secret-item">
              <p class="secret-text" ><%= data[i].textinputData %></p>
            
                <div class="actions">

                  
                    <a class="edit" href="/edithome/<%= data[i]._id %>">Edit<ion-icon name="create-sharp" ></ion-icon></a>
                  

                  
                    <a class="delete" href="/deletehome/<%=data[i]._id %>">Delete<ion-icon name="trash"></ion-icon></a>
                  
                    
                </div>
            
            </div>
            
          

          <% } %>
        </div>
    </div>
  </div>




 
  <script>

    // icons change
    const icon = document.getElementById("lockIcon");
    const texts = document.querySelectorAll(".secret-text");
    let isLocked = <%= typeof isLocked !=='undefined' ? isLocked : true %>;

    texts.forEach(item => {
        item.setAttribute("data-original", item.textContent);
    });

    window.addEventListener("DOMContentLoaded", ()=>{
      if(isLocked){
        icon.setAttribute("name", "lock-closed-outline");

        texts.forEach(item => {
          const original = item.getAttribute("data-original");
          item.textContent = "*".repeat(original.length);
        });
      }else{
        icon.setAttribute("name", "lock-open-outline")
      }

      isLocked = true;
    })

    document.getElementById("lockButton").addEventListener("click", async (e) => {
      e.preventDefault();
      isLocked = !isLocked;

      if(isLocked){
        icon.setAttribute("name", "lock-closed-outline");

        texts.forEach(item => {
          const original = item.getAttribute("data-original");
          item.textContent = "*".repeat(original.length);
        });

      }else{
        icon.setAttribute("name", "lock-open-outline");

          texts.forEach(item => {
            item.textContent = item.getAttribute("data-original");
          });
      } 
      
      await fetch("/toggleLock", {
        method: "POST",
        headers: {
          "Content-type" : "application/json"
        },
        body: JSON.stringify({ isLocked })
      });
    });

    //if input box empty
    function inputdata(e) {
      const inputBoxData = document.getElementById("textInput")
      
      if(inputBoxData.value.trim() === ""){
      e.preventDefault();
      alert("plz provide the valid data");
    }
    }
    
    
  </script>
</body>
</html>